{% extends 'products/base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'users:profile' username=request.user.username %}">Back</a>
<br/><br/>

{{ order }}<br/><br/>
<p>List of ordered goods:</p><br/>
{% for orderitem in order.items.all %}
    <a href="{{ orderitem.nomenclature.product.get_absolute_url }}">{{ orderitem.nomenclature.product }}</a>, {{ orderitem.quantity }} pcs, Price/piece: {{ orderitem.nomenclature.price }}, total price: {{ orderitem.total_price }}<br/>
{% endfor %}
<br/><br/>
TOTAL PRICE:<br/> 
{{ order.total_price }}
<br/><br/>
Delivery address:<br/>
{{ order.shipping_address.address }}<br/>
{{ order.shipping_address.city }}<br/>
{{ order.shipping_address.country }}<br/>
{{ order.shipping_address.postal_code }}<br/>
{% endblock %}
