{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="order">
    <div class="container">
        <div class="order__row">
            <div class="back__url">
                <a href="{% url 'users:profile' username=request.user.username %}">Back</a>
            </div>
            <div class="order__info">
                <div class="order__title">
                    <h2>Order Summary - {{ order.code }}</h2>
                </div>
                <div class="order__goods">
                    {% for orderitem in order.items.all %}
                    <div class="order__orderitem">
                        <div class="orderitem__detail">
                            {{ orderitem.nomenclature.product_variant.product.name }}
                        </div>
                        <div class="orderitem__detail">
                            {{ orderitem.nomenclature.product_variant.attributes.attribute_value.value }}
                        </div>
                        <div class="orderitem__detail">
                            {{ orderitem.nomenclature.attributes.attribute_value.value }}
                        </div>
                        <div class="orderitem__detail">
                            {{ orderitem.nomenclature.code }}
                        </div>
                        <div class="orderitem__detail">
                            {{ orderitem.quantity }}
                        </div>
                        <div class="orderitem__detail">
                            {{ orderitem.nomenclature.price }}
                        </div>
                        <div class="orderitem__detail">
                            {{ orderitem.total_price }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="order__info">
                        <div class="total__price">
                            Total: {{ order.total_price }} EUR
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
