{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="orders">
    <div class="container">
        <div class="orders__row">
            <div class="orders__backurl">
                <a href="{% url 'users:profile' username=request.user.username %}">My profile</a>
            </div>
            <ul class="orders__list">
                {% for order in orders %}
                <li>
                    <div class="orders__url"><a href="{{ order.get_absolute_url }}"> Order: {{ order.code }}</a></div>
                    <div class="orders__cost">Total cost: {{ order.total_price }} EUR</div>
                    <div class="orders__pieces">Ordered pieces: {{ order.total_pieces }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}