{% extends 'products/base.html' %}
{% load static %}

{% block content %}
<div class="address">
    <div class="container">
        <div class="address__row">
            <form class="address__form" method="post" action="{% url 'orders:update_shipping_address' pk=shipping_address.id %}">
                {% csrf_token %}
                <div class="address__field">
                    <label for="id_address">{{ form.address.label }}:</label>
                    {{ form.address }}
                </div>
                <div class="address__field">
                    <label for="id_address">{{ form.city.label }}:</label>
                    {{ form.city }}
                </div>
                <div class="address__field">
                    <label for="id_address">{{ form.country.label }}:</label>
                    {{ form.country }}
                </div>
                <div class="address__field">
                    <label for="id_address">{{ form.postal_code.label }}:</label>
                    {{ form.postal_code }}
                </div>
                <div class="address__field">
                    <label for="id_address">{{ form.is_active.label }}:</label>
                    {{ form.is_active }}
                </div>
                <div class="address__submit__input">
                    <input type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}