{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="addresses">
    <div class="container">
        <div class="address__list__row">
            <h2>Active Shipping Addresses</h2>
            {% if addresses %}
            <div class="addresses__info">
                {% for address in addresses %}
                <div class="addresses__details">
                    <div class="addresses__detail">
                        <div>
                            {{ address.address }}
                        </div>
                        <div>
                            {{ address.city }}
                        </div>
                        <div>
                            {{ address.country }}
                        </div>
                        <div>
                            {{ address.postal_code }}
                        </div>
                    </div>
                    <div class="addresses__update__url">
                        <a href="{% url 'orders:update_shipping_address' pk=address.id %}">Update</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="detail-none">
                <p>You haven`t add any shipping address</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- <a href="{% url 'users:profile' username=request.user.username %}">BACK</a> -->
{% endblock %}