{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<br>
<a href="{% url 'users:profile' username=request.user.username %}">BACK</a>
<br>
<br>
Shipping Addresses:
<br>
<br>

{% for address in addresses %}

    Street: {{ address.address }}<br/>
    City: {{ address.city }}<br/>
    Country: {{ address.country }}<br/>
    Postal Code: {{ address.postal_code }}<br/>
    Active: {{ address.is_active }}<br/>
    Default: {{ address.is_default }}<br/>
    <a href="{% url 'orders:update_shipping_address' pk=address.id %}">Update SA</a><br/>

{% endfor %}

{% endblock %}