{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="profile">
    <div class="container">
        <div class="profile__row">
            <div class="profile__menu">Some data</div>
            <div class="profile__info">
                <div class="profile__card">
                    <div class="profile__title">User details</div>
                    <div class="profile_overview">
                        <div class="profile__data">
                            <div class="profile__keys">
                                <div class="profile__key">First Name:</div>
                                <div class="profile__key">Last Name:</div>
                                <div class="profile__key">E-mail:</div>
                                <div class="profile__key">Last login:</div>
                                <div class="profile__key">Date joined:</div>
                            </div>
                            <div class="profile__values">
                                <div class="profile__value">{{ user.first_name }}</div>
                                <div class="profile__value">{{ user.last_name }}</div>
                                <div class="profile__value">{{ user.email }}</div>
                                <div class="profile__value">{{ user.last_login }}</div>
                                <div class="profile__value">{{ user.date_joined }}</div>
                            </div>
                        </div>
                        <div class="profile_stats">
                            <div class="profile__orders">
                                <h2>Total orders</h2>
                                <div>{{ user.orders.all|length }}</div>
                            </div>
                            <div class="profile__turnover">
                                <h2>Turnover</h2>
                                <div>{{ turnover }} EUR</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PERSONAL INFORMATION
<br><br>
Name: {{ user.first_name }}
<br>
Last Name: {{ user.last_name }}
<br>
Username: {{ user.username }}
<br>
Email: {{ user.email }}
<br>
Registered: {{ user.date_joined }}
<br>
<br>
<a href="{% url 'users:update_profile' pk=user.id %}">Update PROFILE</a><br/>
<br>
<a href="{% url 'orders:order_list' %}">Orders</a>
<br>
<br>
<a href="{% url 'orders:create_shipping_address' %}">Add shipping address</a>
<br>
<a href="{% url 'orders:shipping_address_list' %}">Shipping Addresses (Active)</a>
<br>
<a href="{% url 'orders:shipping_address_inactive_list' %}">Shipping Addresses (Deactivated)</a>
<br>
<br>
Total Turnover: 
<br>
<p>{{ turnover }}</p> -->

{% endblock %}