/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы и маркеры */
ul[class],
ol[class] {
  padding: 0;
  list-style-type: none;
}

/* Убираем подчеркивание у тега а */

a {
    text-decoration: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
    height: 100%;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  /* min-height: 100vh; */
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Index Page */
.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* Navbar */
nav {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

ul.nav-ul {
    background-color: yellow;
    margin-left: 10%;
    display: flex;
}
ul.test-ul {
    background-color: yellow;
    margin-right: 10%;
    display: flex;
}

li.nav-li {
    margin-top: auto;
    margin-right: 40px;
    margin-bottom: auto;
    background-color: greenyellow;
}

li.test-li {
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: greenyellow;
}
/* Main Index Page */
.main {
    flex: 1 1 auto;
    margin-left: 10%;
    margin-right: 10%;
    background-color: chartreuse;
}

.adv-list {
    background-color: rgb(0, 166, 255);
    margin-left: 10%;
    display: flex;
}

.adv-items {
    margin: auto;
    background-color: rgb(203, 47, 255);
}

.explore {
    background-color: beige;
    text-align: center;
}

.explore a {
    font-size: 40px; /* размер шрифта */
    margin: 0; /* убираем внешние отступы */
    background-color: blueviolet;
}

.brands-list {
    display: flex;
}

.brands-item {
    margin: auto;
}

.brands-img {
    height: 400px;
    width: 120px;
}

/* Brand list page + Product list page */
div.brands-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightcoral;
}

ul.brands-sublist {
    margin: 3%;
    display: flex;
    background-color: bisque;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.brand-detail-wrapper {
    background-color: bisque;
}

div.brands-li-wrapper {
    background-color: aqua;
    height: 200px;
    width: 280px;
}

li.brands-sublist-item {
    background-color: burlywood;
}

/* Brand detail page */
div.brand-detail-rapper {
    background-color: aqua;
}

div.brand-detail {
    text-align: center;
    background-color:blueviolet;
}

h2.brand-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

/* Стили для футера */
.footer {
    background-color: black;
    color: gold;
    padding: 20px; /* добавляем немного внутреннего отступа для контента */
    text-align: center; /* выравниваем текст по центру */
}

/* Стили для текста внутри футера */
.footer p {
    font-size: 14px; /* размер шрифта */
    margin: 0; /* убираем внешние отступы */
}