<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>E-comm</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}" type="text/css"/>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="menu">
                <div class="container">
                    <div class="menu__row">
                        <div class="menu__image">
                            <a href="{% url 'products:index' %}">
                                <img src="../../static/products/img/company_logo.png" alt="Company Logo">
                            </a>
                        </div>
                        <div class="menu__body">
                            <ul class="menu__list">
                                <li>
                                    <a href="{% url 'products:index' %}">Home</a>
                                </li>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Contacts</a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'orders:order_list' %}">My Orders</a>
                                </li>
                                <li>
                                <a href="{% url 'users:profile' username=request.user.username %}">My Profile</a>
                                </li>
                                {% endif %}
                                {% if not request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'users:registration' %}">Registration</a>
                                </li>
                                <li>
                                    <a href="{% url 'users:login' %}">Log In</a>
                                </li>
                                {% else %}
                                <li>
                                    <form class="menu__form" method="post" action="{% url 'users:logout' %}">
                                        {% csrf_token %}
                                        <!-- <button type="submit">Log Out</button> -->
                                        <button type="submit"><img src="../../static/products/icons/logout.svg" alt="" height="20"></button>
                                    </form> 
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            {% block content %}
            {% endblock %}

        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer__row">
                    <div class="footer_text">E-commerce. All rights reserverd.</div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>