{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="brands">
    <div class="container">
        <div class="brands__row">
            <div class="brands__title">
                <h2>
                    Distributed brands
                </h2>
            </div>
            <ul class="brands__list">
                {% for brand in brands %}
                <li>
                    <a href="{% url 'products:product_list' %}?brand={{ brand.name }}"><img src="{{ brand.image }}" alt="Brand logo"></a>
                </li>
                {% endfor %}
            </ul>
                    
        </div>
    </div>
</div>

{% endblock %}