{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="brands">
    <ul class="brands-list">
        <li class="brands-item">
            <a href="{% url 'products:gents_hiking_product_list' %}">Gents Hiking</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:gents_running_product_list' %}">Gents Running</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:gents_gym_product_list' %}">Gents Gym</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:gents_outdoor_product_list' %}">Gents Outdoor</a>
        </li>
    </ul>
</div>

{% for product in products %}
    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br/>
{% endfor %}

{% endblock %}