{% extends 'products/base.html' %}
{% load static %}

{% block content %}
<div class="advantages">
    <ul class="adv-list">
        <li class="adv-items">
            <p>Free delivery on orders over 599 euros</p>
        </li>
        <li class="adv-items">
            <p>Delivery within 2-3 working days</p>
        </li>
        <li class="adv-items">
            <p>Better prices for our members</p>
        </li>
    </ul>
</div>
<div class="explore">
    <a href="#">Explore</a>
</div>
<h1 style="text-align: center;">CATEGORIES</h1>
<div class="brands">
    <ul class="brands-list">
        <li class="brands-item">
            <!-- <img class="brands-img" src="https://www.svgrepo.com/show/303214/nike-4-logo.svg" alt=""> -->
            <a href="{% url 'products:brand_list' %}">Brands</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:product_list' %}">Products</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:gents_product_list' %}">Gents</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:ladies_product_list' %}">Ladies</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:gents_hiking_product_list' %}">Gents Hiking</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:ladies_hiking_product_list' %}">Ladies Hiking</a>
        </li>
    </ul>
</div>
<h1 style="text-align: center;">SUBCATEGORIES</h1>
<div class="brands">
    <ul class="brands-list">
        <li class="brands-item">
            <a href="{% url 'products:gents_hiking_product_list' %}">Gents Hiking</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:ladies_hiking_product_list' %}">Ladies Hiking</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:gents_running_product_list' %}">Gents Running</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:ladies_running_product_list' %}">Ladies Running</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:gents_gym_product_list' %}">Gents Gym</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:ladies_gym_product_list' %}">Ladies Gym</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:gents_outdoor_product_list' %}">Gents Outdoor</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:ladies_outdoor_product_list' %}">Ladies Outdoor</a>
        </li>
    </ul>
</div>
{% endblock %}