{% extends 'products/base.html' %}
{% load static %}

{% block content %}
<!-- <div class="advantages">
    <ul class="adv-list">
        <li class="adv-items">
            <p>Free delivery on orders over 599 euros</p>
        </li>
        <li class="adv-items">
            <p>Delivery within 2-3 working days</p>
        </li>
        <li class="adv-items">
            <p>Better prices for our members</p>
        </li>
    </ul>
</div>
<div class="explore">
    <a href="#">Explore</a>
</div>
<div class="brands">
    <ul class="brands-list">
        <li class="brands-item"> -->
            <!-- <img class="brands-img" src="https://www.svgrepo.com/show/303214/nike-4-logo.svg" alt=""> -->
            <!-- <a href="{% url 'products:brand_list' %}">Brands</a>
        </li>
        <li class="brands-item">
            <a href="{% url 'products:product_list' %}">Products</a>
        </li>
        <li class="brands-item">
            <img class="brands-img" src="https://www.svgrepo.com/show/303339/adidas-9-logo.svg" alt="">
        </li>
        <li class="brands-item">
            <img class="brands-img" src="https://www.svgrepo.com/show/303470/puma-logo-logo.svg" alt="">
        </li>
        <li class="brands-item">
            <img class="brands-img" src="https://www.svgrepo.com/show/303155/under-armour-logo.svg" alt="">
        </li>
    </ul>
</div> -->
{% endblock %}