{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="subject">
    <div class="container">
        <div class="subject__row">
            <div class="subject__title">
                <h2>New Outwear Collection</h2>
            </div>
            <div class="subject__novelty">
                <div class="subject__link">
                    <a href="{% url 'products:product_list' %}">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="categories-section">
    <div class="container">
        <div class="categories-section__row">
            <div class="categories-section__title">
                <h2>Categories</h2>
            </div>
            <div class="categories-sections__body">
                <div class="categories-section__columns">
                    <div class="categories-section__column">
                        <div class="categories-section__image">
                            <a class="link-overlay" href="{% url 'products:brand_list' %}">Brands</a>
                            <img src="../../static/products/img/categories_1.jpg" alt="">
                        </div>
                    </div>
                    <div class="categories-section__column">
                        <div class="categories-section__image">
                            <a class="link-overlay" href="{% url 'products:product_list' %}">Products</a>
                            <img src="../../static/products/img/categories_4.jpg" alt="">
                        </div>
                    </div>
                    <div class="categories-section__column">
                        <div class="categories-section__image">
                            <a class="link-overlay" href="{% url 'products:gents_product_list' %}">Gents</a>
                            <img src="../../static/products/img/categories_3.jpg" alt="">
                        </div>
                    </div>
                    <div class="categories-section__column">
                        <div class="categories-section__image">
                            <a class="link-overlay" href="{% url 'products:ladies_product_list' %}">Ladies</a>
                            <img src="../../static/products/img/categories_2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="advantage">
    <div class="container">
        <div class="advantage__row">
            <div class="advantage__title">
                <h2>Why Choose Us?</h2>
            </div>
            <div class="advanatage__body">
                <ul class="advanatage__list">
                    <li>
                        <img src="../../static/products/icons/support.svg" alt="Customer Support"><p>Customer Support</p>
                    </li>
                    <li>
                        <img src="../../static/products/icons/quality.svg" alt="Premium Quality"><p>Premium Quality</p>
                    </li>
                    <li>
                        <img src="../../static/products/icons/price_tag.svg" alt="Competitive Prices"><p>Competitive Prices</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}