{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="product">
    <div class="container">
        <div class="product__row">
            <div class="product__filter">
                <div class="product__options">
                    <div class="product__search">
                        <form method="get" action="{% url 'products:product_variant_list' %}" id="filterForm">
                            <div class="product__certificate">
                                <h2>Certificates</h2>
                                {% for certificate in certificates %}
                                <div class="product__checkbox">
                                    <input type="checkbox" class="product__input" id="product__checkbox__{{ certificate.id }}" name="certificate" value="{{ certificate.attribute_value.value }}" {% if certificate.attribute_value.value in selected_certificates %}checked{% endif %}>
                                    <label class="product__checkbox__label" for="product__checkbox__{{ certificate.id }}">{{ certificate.attribute_value.value }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="product__certificate">
                                <h2>Properties</h2>
                                {% for property in properties %}
                                <div class="product__checkbox">
                                    <input type="checkbox" class="product__input" id="product__checkbox__{{ property.id }}" name="property" value="{{ property.attribute_value.value }}" {% if property.attribute_value.value in selected_properties %}checked{% endif %}>
                                    <label class="product__checkbox__label" for="product__checkbox__{{ property.id }}">{{ property.attribute_value.value }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="product__colors">
                                <h2>Colors</h2>
                                {% for color in colors %}
                                <div class="product__checkbox">
                                    <input type="checkbox" class="product__input" id="product__checkbox__{{ color.id }}" name="color" value="{{ color.attribute_value.value }}" {% if color.attribute_value.value in selected_colors %}checked{% endif %}>
                                    <label class="product__checkbox__label" for="product__checkbox__{{ color.id }}">{{ color.attribute_value.value }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="product__certificate">
                                <h2>Brands</h2>
                                {% for brand in brands %}
                                <div class="product__checkbox">
                                    <input type="checkbox" class="product__input" id="product__checkbox__{{ brand.name }}" name="brand" value="{{ brand.name }}" {% if brand.name in selected_brands %}checked{% endif %}>
                                    <label class="product__checkbox__label" for="product__checkbox__{{ brand.name }}">{{ brand.name }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="product__submit__btn" type="submit">Search</button>
                            <!-- Option 1 -->
                            <button class="product__reset__btn" type="button" onclick="window.location.href='{% url 'products:product_variant_list' %}'">Reset</button>
                            <!-- Option 2 -->
                            <!-- <button class="product__reset__btn" type="button" onclick="resetForm()">Reset</button> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="product__list">
                {% for product_variant in product_variants %}
                <div class="product__info">
                    <div class="product__photo">
                        <img src="{{ product_variant.get_title_photo }}" alt="">
                    </div>
                    <div class="product__name">
                        <a href="{% url 'products:product_variant' product_variant_slug=product_variant.slug %}?color={{ product_variant.attributes.attribute_value.value }}">{{ product_variant.product.name }} {{ product_variant.price }} €</a>
                    </div>
                </div>
                {% endfor %}
            </div>            
        </div>
    </div>
</div>
{% endblock %}