{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="product">
    <div class="container">
        <div class="product__row">
            <div class="product__filter">
                <p>FILTER</p>
            </div>
            <div class="product__list">
                {% for product in products %}
                <div class="product__info">
                    <div class="product__photo">
                        <img src="{{ product.product_image.all.0.image.image }}" alt="">
                    </div>
                    <div class="product__url">
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>            
        </div>
    </div>
</div>
{% endblock %}